<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.app.mapper.StudentFreeTestMapper">

    <resultMap id="BaseResultMap" type="com.wx.app.entity.StudentFreeTest">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="semester" column="semester" jdbcType="VARCHAR"/>
        <result property="reason" column="reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,semester,
        reason,is_pass
    </sql>


    <select id="selectFreeList" resultType="com.wx.app.vo.StudentFreeTestVo">
        SELECT
            student_free_test.id, reason, semester, name, user_name, sex, grade, id_card, birth, nationality, specialty_class, is_pass,is_read, handler, type, remark
        FROM
            `student_free_test`
        LEFT JOIN
            sys_user
        ON
            sys_user.id = student_free_test.user_id
        WHERE
            1 = 1
            <if test="isPass != null">
                and student_free_test.is_pass = #{isPass}
            </if>
            <if test="semester != null">
                and student_free_test.semester = #{semester}
            </if>
            <if test="condition.userName != null">
                and sys_user.user_name LIKE #{condition.userName}
            </if>
            <if test="condition.name != null">
                and sys_user.name LIKE #{condition.name}
            </if>
            <if test="condition.sex != null">
                and sys_user.sex LIKE #{condition.sex}
            </if>
            <if test="condition.grade != null">
                and sys_user.grade LIKE #{condition.grade}
            </if>
            <if test="condition.type != null">
                and student_free_test.type = #{condition.type}
            </if>
    </select>
    <select id="hasMessage" resultType="com.wx.app.entity.StudentFreeTest">
        select id
        FROM
            `student_free_test`
        WHERE
            user_id = #{userId} AND is_read = 1
    </select>
</mapper>
