<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.app.mapper.UserMapper">
    <select id="getStudentList" resultType="com.wx.app.vo.StudentInfoVo">
        SELECT
            id, name, sex, grade, specialty_class, user_name, phone
        FROM
            sys_user
        WHERE
            sys_user.identity = '学生'
        <if test="condition.userName != null">
            and user_name LIKE #{condition.userName}
        </if>
        <if test="condition.name != null">
            and name LIKE #{condition.name}
        </if>
        <if test="condition.sex != null">
            and sex LIKE #{condition.sex}
        </if>
        <if test="condition.grade != null">
            and grade LIKE #{condition.grade}
        </if>
    </select>



    <select id="getStudentInfo" resultType="com.wx.app.vo.StudentInfoVo">
        SELECT
            id, name, sex, grade, specialty_class, user_name, phone
        FROM
            sys_user
        WHERE id = #{userId}
    </select>

    <select id="getStudentById" resultType="com.wx.app.vo.ShowStudentInfoVo">
        SELECT
        student_test.id, student_test.specialty_class, name, sex, grade, user_name, phone
        FROM
            `student_test`
        LEFT JOIN
            sys_user
        ON
            student_test.specialty_class = sys_user.specialty_class
        WHERE
            student_test.test_id = #{id}
        <if test="condition.userName != null">
            and sys_user.user_name LIKE #{condition.userName}
        </if>
        <if test="condition.name != null">
            and sys_user.name LIKE #{condition.name}
        </if>
        <if test="condition.sex != null">
            and sys_user.sex LIKE #{condition.sex}
        </if>
        <if test="condition.grade != null">
            and sys_user.grade LIKE #{condition.grade}
        </if>
    </select>
</mapper>
