<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.app.mapper.UserMapper">
    <select id="getStudentList" resultType="com.wx.app.vo.StudentInfoVo">
        SELECT
            id, name, sex, grade, specialty, college, user_name
        FROM
            sys_user
        <if test="condition.userName != null">
            and user_name LIKE #{condition.userName}
        </if>
        <if test="condition.name != null">
            and name LIKE #{condition.name}
        </if>
        <if test="condition.sex != null">
            and sex LIKE #{condition.sex}
        </if>
        <if test="condition.grade != null">
            and grade LIKE #{condition.grade}
        </if>
        <if test="condition.specialty != null">
            and specialty LIKE #{condition.specialty}
        </if>
        <if test="condition.college != null">
            and college LIKE #{condition.college}
        </if>
    </select>



    <select id="getStudentInfo" resultType="com.wx.app.vo.StudentInfoVo">
        SELECT
            id, name, sex, grade, specialty, college, user_name
        FROM
            sys_user
        WHERE id = #{userId}
    </select>

    <select id="getStudentById" resultType="com.wx.app.vo.StudentInfoVo">
        SELECT
        student_test.id, student_test.user_id, name, sex, grade, specialty, college, user_name
        FROM
            `student_test`
        LEFT JOIN
            sys_user
        ON
            student_test.user_id = sys_user.id
        WHERE
            student_test.test_id = #{id}
        <if test="condition.userName != null">
            and user_name LIKE #{condition.userName}
        </if>
        <if test="condition.name != null">
            and name LIKE #{condition.name}
        </if>
        <if test="condition.sex != null">
            and sex LIKE #{condition.sex}
        </if>
        <if test="condition.grade != null">
            and grade LIKE #{condition.grade}
        </if>
        <if test="condition.specialty != null">
            and specialty LIKE #{condition.specialty}
        </if>
        <if test="condition.college != null">
            and college LIKE #{condition.college}
        </if>
    </select>
</mapper>
